:root {
    --color-accent: #e6e0d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Manrope', sans-serif;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    width: 40%;
}

.images {
    padding-top: 10px;
    position: relative;
    height: 550px;
}

.img-holder {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.img-holder img {
    position: absolute;
    top: 0;
    left: -100%;
}

.text {
    position: relative;
    margin: 1em 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.counter,
.logo p {
    padding-bottom: 5;
    font-size: 200px;
    text-align: center;
    text-transform: uppercase;
}

.counter p {
    line-height: 100%;
}

.counter p span,
.logo p span {
    position: relative;
    z-index: -2;
    color: black;
}

.logo {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateY(-50%);
}

.logo p {
    line-height: 100%;
}

.logo p span {
    position: relative;
    top: 200px;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px; /* Adds padding around the video */
    box-sizing: border-box; /* Ensures padding does not break layout */
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2);
    border-radius: 20px; /* Optional rounded corners */
}

.hero-copy {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hero-copy h1 {
    font-weight: 400;
    font-size: 25vw;
    color: var(--color-accent);
    line-height: 100%;
}

.hero-copy h1 span {
    position: relative;
    top: 30vw;
}

@media (max-width: 900px) {
    .overlay-content {
        width: 75%;
    }

    .counter,
    .logo p {
        font-size: 100px;
    }
}
